$bg: azure;
$bg2: #cceb9d;
$texto1: crimson;
$texto2: #eea0ad;
$hover:#7eb8dc;
$bgtabla: #c1eaf3;
$textotabla1: #d0476b;
$textotabla2:#d0476b;


@import "header";
@import "nav";
@import "main";
@import "footer";



